@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* body {
    font-family: 'Poppins';
} */

figure div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}